main {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.footer {
    background-color: #ffffff;
    bottom: 0px;
    width: 100%;
}
#showtop {
    background: url("../image/showtopim.jpg") no-repeat center center;
    border-bottom: 1px solid coral;
    border-top: 1px solid coral;
    margin-bottom: 30px;
}
#showtop .row {
    height: 600px;
}
#showtop h1 {
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
}

#showtop p {
    color: #ccc;
    margin: 0;
}

#showtop .showtop-content {
    background: #333;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
    opacity: 0.9;
}
.showtop-span {
    color: coral;
}

#showicon h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}

#showicon p {
    color: #888;
    margin: 0;
    margin-bottom: 40px;
}

#showphilosophy {
    background: #333 url("../image/bglogo.jpg") no-repeat;
}
#showphilosophy h2 {
    color: coral;
}
#showphilosophy p {
    color: #000;
    margin: 0;
    margin-bottom: 40px;
}
#imlogo {
    width: 400px;
    height: 200px;
}

#showphilosophy h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}

#showphilosophy ul {
    list-style: none;
    padding: 0;
}

#showphilosophy li {
    line-height: 2em;
    font-size: 20px;
}

#showicon-i {
    font-size: 3em;
    color: coral;
}

#showabout {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

#showabout h4 {
    text-transform: uppercase;
    margin-bottom: 0;
}

#showabout ul {
    padding: 0;
    list-style: none;
    line-height: 2em;
}

@media (max-width: 800px) {
    #showtop h1 {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    #showtop .showtop-content {
        padding: 40px 10px;
    }
}

@media (max-width: 576px) {
    #imlogo {
        max-width: 100%;
        height: auto;
    }
}

#main {
    background-color: #fff;
}
